<!-- Footer -->
<div class="row sitefooter">
	<div class="col-md-12">
	<br>
	<p><a href=" {{ site.baseurl }}{{ site.blog }}">Blog</a> | <a href=" {{ site.baseurl }}{{ site.contact }}">Contact</a> | <a href=" {{ site.baseurl }}{{ site.sponsors }} ">Sponsors</a> | <a href=" {{ site.baseurl }}{{ site.resources }}">Resources</a></p>
	<img class="footer-logo" src="{{site.baseurl}}{{ site.footerlogo }}" alt="Footer Logo">
	<br>
	<br>
	<p>Copyright &copy; {{ site.title }} 2017 - Present.</p>
	<p>Hosted on <a href=" {{ site.github }} ">GitHub</a>. <a href="https://github.com/patrickmfsd/Miniplistic">Miniplistic Theme</a> created by <a href="https://github.com/patrickmfsd">patrickmfsd</a></p>	
	<p><a><i onclick="theme()"></i>Toggle Dark Mode</a></p>
</div>
